.home-page-container {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(rgba(68, 76, 247, .02) 4px, transparent 4px), linear-gradient(to right, rgba(69, 78, 247, .02) 4px, transparent 4px);
  background-size: 240px 240px;
}

.content-grid {
  display: grid;
  width: 100vw;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 100% 100%;
}

.title-container {
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;
  text-align: center;
  margin-top: -50px;
}

.home-title {
  font-size: 3em;
}

.diamond-container {
  display: flex;
  position: relative;
  justify-content: center;
}

.diamond-button {
  transform: rotate(45deg);
  background-color: var(--light-blue);
  border: none;
  border-radius: 2px;
}

.diamond-button:hover {
  background-color: var(--blue);
  cursor: pointer;
  color: white;
}

.larger-diamond-shape {
  height: 150px;
  width: 150px;
  font-size: x-large;
}

.smaller-diamond-shape {
  height: 100px;
  width: 100px;
  font-size: larger;
}

.diamond-text {
  transform: rotate(-45deg);
}

.d1 {
  position: relative;
  bottom: -20px;
  left: 23px;
}

.d2 {
  position: relative;
  top: 150px;
  right: -4px;
}

@media (min-width: 475px) {
  .content-grid {
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    align-items: center;
  }
  .title-container {
    grid-row: 1 / 2;
    text-align: right;
  }
  .diamond-container {
    display: block;
  }
  .d1 {
    bottom: 50px;
    left: 40px;
  }
  
  .d2 {
    top: 45px;
    right: -22px;
  }
}
