body {
  --main-text: #f7f7f7;
  --main-bg: #303030;
  --light: #454545;
  --secondary-color: rgba(247, 247, 247, 1);
  --light-secondary: rgba(247, 247, 247, .8);
  --very-light-secondary: rgba(247, 247, 247, .7);
  --default-rgb: 247, 247, 247;
  --secondary-r: 247;
  --secondary-g: 247;
  --secondary-b: 247;
  --accessible-color: calc( ( ( ( (var(--secondary-r) * 299) + (var(--secondary-g) * 587) + (var(--secondary-b) * 114)) / 1000) - 150) * -1000);
  --shadow: rgba(0, 0, 0, .6);
  --border-radius: 5px;
  background: #202020;
}

body.light-theme {
  --main-text: #303030;
  --main-bg: #f6f6f6;
  --light: #e8e8e8;
  --secondary-color: rgba(30, 30, 30, 1);
  --light-secondary: rgba(240, 240, 240, 1);
  --very-light-secondary: rgba(250, 250, 250, 1);
  --default-rgb: 30, 30, 30;
  --secondary-r: 30;
  --secondary-g: 30;
  --secondary-b: 30;
  --accessible-color: calc( ( ( ( (var(--secondary-r) * 299) + (var(--secondary-g) * 587) + (var(--secondary-b) * 114)) / 1000) - 150) * -1000);
  --shadow: rgba(50, 50, 50, 0.3);
  background: var(--very-light-secondary);
  background: linear-gradient(170deg, var(--very-light-secondary) 10%, var(--light-secondary) 100%);
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  color: var(--main-text);
  margin: 0;
}

#root {
  height: 100%;
}

.site-container {
  margin: 2em 5vw;
}

/* Loading Screen */

#loading {
  padding-top: 50px;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--main-text);
  border-color: var(--main-text) transparent var(--main-text) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main Content */

/* D3 Style */

.label {
  fill: var(--main-text)
}

.axis {
  color: var(--main-text)
}

.point {
  fill: var(--main-text);
}

#selected {
  fill: red;
}

/* Title bar style */

.title {
  font-weight: bold;
  font-size: large;
}

#month-select, #year-select {
  margin-left: 10px;
  padding: 2px 2px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--light);
  color: - var(--main-text);
  font-weight: 400;
  font-size: x-large;
}

/* Sidebar */

#theme-switcher {
  position: absolute;
  right: 0;
}

/* Filters */

#filter-select {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--main-text);
  font-weight: 600;
}

#filter-input {
  display: inline-block;
  width: clamp(100px, 50%, 350px);
  padding: 4px 8px;
  margin: 5px 5px 5px 0px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--main-text);
}

#submit-button {
  display: inline-block;
  padding: 4px 15px;
}

#day-filters {
  width: 100%;
}

input[type=text] {
  border: 1px solid var(--main-text);
}

input[type=checkbox] {
  display: none;
}

.checkbox {
  display: inline-block;
  margin: 2px 4px 2px 0px;
  padding: 2px 10px;
  background-color: var(--light);
  border-radius: var(--border-radius);
}

:checked+span {
  font-weight: 600;
  background-color: var(--secondary-color);
  color: rgb( var(--accessible-color), var(--accessible-color), var(--accessible-color));
}

.checkbox:hover {
  font-weight: 600;
}

.button {
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--main-text);
}

#reset {
  width: 103px;
  height: 25px;
  padding: 4px 15px;
}

/* Hover */

.button:hover {
  font-weight: 600;
  background-color: var(--secondary-color);
  color: rgb( var(--accessible-color), var(--accessible-color), var(--accessible-color));
}

#theme-switcher, .checkbox:hover, .checkbox>input:hover, button:hover, select:hover, .point:hover, .artist:hover, .song:hover, .album:hover {
  cursor: pointer;
}

#date-range, #filter-select, #filter-input, .checkbox, .button, #year-select, #month-select {
  -webkit-box-shadow: 1px 1px 3px 0px var(--shadow);
  -moz-box-shadow: 1px 1px 3px 0px var(--shadow);
  box-shadow: 1px 1px 3px 0px var(--shadow);
}

/* Song info */

#album-art {
  grid-row: 1 / 4;
  width: 100px;
  margin: 5px 0px;
  border-radius: calc(var(--border-radius) + 5px);
  -webkit-box-shadow: 7px 7px 7px 0px var(--shadow);
  -moz-box-shadow: 7px 7px 7px 0px var(--shadow);
  box-shadow: 7px 7px 7px 0px var(--shadow);
}

.info {
  overflow: hidden;
}

.artist:hover, .song:hover, .album:hover {
  text-decoration: underline;
}

.artist {
  font-weight: 600;
}

.album {
  font-style: italic;
}

.song {
  font-size: large;
  font-weight: bold;
}

.date {
  font-size: smaller;
}

#tagList {
  margin: 10px 0px;
}

.tag {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  border-radius: 15px;
  margin: 2px 0px;
  margin-right: 3px;
  padding: 4px 10px;
  background-color: var(--secondary-color);
  color: rgb( var(--accessible-color), var(--accessible-color), var(--accessible-color));
}

/* Website layout */

.info-grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 1em 1em;
}

#content-container {
  display: none;
  position: relative;
  animation: .5s ease-in-out content-fade-in;
}

@keyframes content-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.checkbox, body, #reset, input, button, select {
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.side-container {
  float: right;
  text-align: right;
  margin: 10px 0px;
}

#search-filter {
  width: 100%;
}

#song-info-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 20px 40px 20px;
  gap: 0px 10px;
}

#main {
  margin: auto;
  text-align: center;
}

#main-graph, #test-canvas {
  width: 100%;
  height: 100%;
}

#canvas {
  width: 100%;
}

@media (min-width:800px) {
  #day-filters {
    width: 100%;
  }
  .info-grid {
    grid-template-columns: 50% 50%;
  }
  #song-info-grid {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }
}

@media (min-width: 1000px) {
  .site-container {
    margin: 2em 15vw;
  }
}