/* Loading Screen */

#loading {
  padding-top: 50px;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--main-text);
  border-color: var(--main-text) transparent var(--main-text) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Main Content */

/* D3 Style */

.label {
  fill: var(--main-text)
}

.axis {
  color: var(--main-text)
}

.point {
  fill: var(--main-text);
}

#selected {
  fill: red;
}

.no-data-message {
  fill: gray;
  font-style: italic;
}

/* Graph Settings */

#month-select, #year-select {
  margin: 0 .1em;
  padding: 2px 2px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: - var(--main-text);
  font-size: xx-large;
}

/* Corner right options */

#corner-options-container {
  position: absolute;
  top: .5em;
  right: 1.5em;
}

.corner-option {
  display: inline-block;
  margin: 0 0 0 .75em;
  padding: .5em .75em;
  font-size: smaller;
}

#file-upload {
  display: none;
}


/* Filters */

#filter-select {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--main-text);
  font-weight: 600;
}

#filter-input {
  display: inline-block;
  width: clamp(100px, 60%, 260px);
  padding: 4px 8px;
  margin: 5px 5px 5px 0px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--main-text);
}

#submit-button {
  display: inline-block;
  padding: 4px 15px;
}

#day-filters {
  width: 100%;
  margin: 1em 0;
}

input[type=text] {
  border: 1px solid var(--main-text);
}

input[type=checkbox] {
  display: none;
}

.checkbox {
  display: inline-block;
  margin: 2px 4px 2px 0px;
  padding: 2px 10px;
  background-color: var(--light);
  border-radius: var(--border-radius);
}

:checked+span {
  font-weight: 600;
  background-color: var(--secondary-color);
  color: rgb(var(--accessible-color), var(--accessible-color), var(--accessible-color));
}

.checkbox:hover {
  font-weight: 600;
}

.button {
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--main-text);
}

#reset {
  width: 103px;
  height: 25px;
  padding: 4px 15px;
}

/* Hover */

.button:hover {
  font-weight: 600;
  background-color: var(--secondary-color);
  color: rgb(var(--accessible-color), var(--accessible-color), var(--accessible-color));
  cursor: pointer;
}

.checkbox:hover, .checkbox>input:hover, button:hover, select:hover, .point:hover, .artist:hover, .song:hover, .album:hover, .arrow:hover {
  cursor: pointer;
}

/* Song info */

#album-art {
  grid-row: 1 / 6;
  width: 115px;
  margin: 5px 0px;
  border-radius: calc(var(--border-radius) + 5px);
}

.info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.artist:hover, .song:hover, .album:hover {
  text-decoration: underline;
}

.artist {
  font-weight: 600;
}

.album {
  font-style: italic;
}

.song {
  font-size: large;
  font-weight: bold;
}

.date {
  font-size: smaller;
  grid-row: 4 / 5;
}

.song-arrows {
  grid-row: 5 / 6;
  align-self: center;
}

.tag {
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  border-radius: 15px;
  margin: 0px 2px 0px 0px;
  padding: 1px 6px;
  background-color: var(--secondary-color);
  color: rgb(var(--accessible-color), var(--accessible-color), var(--accessible-color));
}

/* Website layout */

.info-grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 1em 1em;
  margin: 2em 0;
  text-align: center;
  justify-items: center;
}

#content-container {
  position: relative;
  animation: .5s ease-in-out content-fade-in;
}

@keyframes content-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.checkbox, body, #reset, input, button, select {
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.time-settings {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 5em;
}

.time-period {
  margin-bottom: 2em;
}

#monthly, #yearly {
  display: none;
}

input[type="radio"]:checked+label {
  color: var(--main-text);
  border-bottom: 2px solid var(--main-text);
  font-size: larger;
  font-weight: 600;
}

input[type="radio"]:hover+label {
  cursor: pointer;
  color: var(--main-text);
}

input[type="radio"]+label {
  color: gray;
}

.time-period-button {
  padding: .5em .5em;
  margin: 0 1em;
  font-variant: small-caps;
}

.date-navigation {
  margin: .5em 0;
  position: relative;
  display: inline-block;
}

.up-caret {
  position: absolute;
  left: -15px;
  top: 7px;
}

.down-caret {
  position: absolute;
  left: -15px;
  bottom: 7px;
}

#search-filter {
  width: 100%;
  margin: 1em 0;
}

.song-info-grid {
  width: 400px;
  display: grid;
  margin: 2em 0;
  grid-template-columns: 115px 1fr;
  grid-template-rows: 23px 23px 42px 18px 14px;
  gap: 0px 12px;
  text-align: left;
}

#main {
  margin: auto;
  text-align: center;
}

#main-graph, #test-canvas {
  width: 100%;
  height: 100%;
}

#canvas {
  width: 100%;
}

/* Settings style */

.point-settings-container {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
  text-align: center;
  justify-content: center;
  margin: 2em 0;
}

.point-setting {
  border-radius: calc(var(--border-radius) + 10px);
  box-sizing: border-box;
  width: 100%;
  padding: .5em 2em;
}

.settings-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.settings-flexbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings-flexbox>label {
  text-align: left;
}

.settings-flexbox>input {
  width: 100%;
}

.reset-default {
  margin-top: 1em;
  padding: .5em .75em;
}

.disabled-arrow {
  pointer-events: none;
  color: var(--light);
}

@media (min-width: 1000px) {

  .site-container {
    height: 100%;
  }

  /* SIDE OPTIONS --------- */
  .side-options {
    width: 25%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0em 1.5em;
    overflow-y: scroll;
    border-right: 4px solid var(--light);
    background-color: var(--main-bg);
  }

  /* Song Info */
  .song-info-grid {
    width: 100%;
    margin: 0em 0;
  }

  /* Filters */
  .info-grid {
    text-align: left;
    justify-items: left;
  }

  #search-filter, #day-filters {
    margin: .5em 0;
  }

  /* Settings */
  .point-settings-container {
    text-align: left;
    justify-content: left;
  }

  .point-setting {
    padding: 0;
  }

  .settings-container {
    gap: 0 1.5em;
  }

  /* MAIN CONTENT ----------- */
  #content-container {
    width: 75%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    padding: 2em .25em;
    overflow-y: scroll;
  }

  #entries {
    position: absolute;
    top: .5em;
    left: 1.5em;
  }

  /* Time Settings */
  .time-period {
    margin-bottom: .25em;
  }

  .time-settings {
    margin-bottom: .5em;
  }

  #month-select, #year-select {
    font-size: x-large;
  }

  .up-caret {
    top: 2px;
  }
  
  .down-caret {
    bottom: 2px;
  }
}

@media (min-width: 1300px) {
  /* MAIN CONTENT ----------- */
  #content-container {
    padding: 0em 6vw;
  }
}